@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-fredoka: 'Fredoka', sans-serif;
  }
}

html{
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Fredoka", serif;
  font-family: var(--font-geist-sans, Arial, Helvetica, sans-serif);
  
}
